/**
 *通用样式
 */
.root {
	-fx-font-size:16px;
	-fx-alignment:center;
	/* 基本透明度 */
	-fx-snail-opacity:0.94;
	/* 基本主要颜色 */
	-fx-snail-main-color:#0099CC;
	/* 基本边框颜色 */
	-fx-snail-border-color:#C8C8C8;
	/* 基本元素颜色 */
	-fx-snail-element-color:#E0E0E0;
	/* 基本背景颜色 */
	-fx-snail-background-color:#F4F4F4;
	/** 基本颜色 */
	-fx-snail-red-color:#DD3355;
	-fx-snail-blue-color:#1199FF;
	-fx-snail-gray-color:#808080;
	-fx-snail-green-color:#008800;
	-fx-snail-orange-color:#EE8811;
	-fx-snail-violet-color:#8822EE;
}
/**
 * 图标样式
 */
.snail-icon {
	-fx-font-size:16px;
	-fx-font-family:"SnailIcon";
}
/**
 * 提示样式
 * Tooltip->.tooltip
 */
.root .tooltip {
	-fx-opacity:-fx-snail-opacity;
	-fx-text-fill:#000000;
	-fx-background-insets:0;
	-fx-background-radius:0;
	-fx-background-color:#FFFFFF;
	-fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 4, 0.0, 0, 0);
}
/**
 * 按钮样式
 * Button->.button
 */
.root .button {
	-fx-border-width:1px;
	-fx-border-color:-fx-snail-border-color;
	-fx-background-insets:0;
	-fx-background-radius:0;
	-fx-background-color:-fx-snail-element-color;
}
.root .button:hover {
	-fx-text-fill:#FFFFFF;
	-fx-border-color:-fx-snail-main-color;
	-fx-background-color:-fx-snail-main-color;
}
/**
 * 文本框样式
 * TextField->.text-field
 */
.root .text-field {
	-fx-border-width:1px;
	-fx-border-color:-fx-snail-border-color;
	-fx-background-insets:0;
	-fx-background-radius:0;
}
.root .text-field:hover,
.root .text-field:focused {
	-fx-border-color:-fx-snail-main-color;
}
/**
 * 下拉框样式
 * ChoiceBox->.choice-box
 */
.root .choice-box {
	-fx-border-width:1px;
	-fx-border-color:-fx-snail-border-color;
	-fx-background-insets:0;
	-fx-background-radius:0;
	-fx-background-color:-fx-snail-element-color;
}
.root .choice-box:hover,
.root .choice-box:focused {
	-fx-border-color:-fx-snail-main-color;
}
/**
 * 菜单样式
 * ContextMenu->.context-menu
 */
.root .context-menu {
	-fx-padding:1px;
	-fx-opacity:-fx-snail-opacity;
}
/**
 * 托盘样式
 */
.tray {
	-fx-font-size:14px;
}
.tray .snail-icon {
	-fx-font-size:14px;
}
/**
 * 关于窗口：about.fxml
 */
.about {
}
/**
 * 新建窗口：build.fxml
 */
.build .url {
	-fx-padding:10px 0;
}
.build .url TextFlow {
	-fx-padding:0 10px 0 0;
}
.build .url TextField {
	-fx-pref-width:400px;
}
.build .option {
	-fx-alignment:center_right;
}
.build .option .cancel {
	-fx-padding:0 10px;
}
/**
 * 主窗口：main.fxml
 */
.main .header {
	-fx-padding:2px;
	-fx-alignment:center_left;
}
.main .footer {
	-fx-padding:2px;
}
.main .footer .filters {
	-fx-alignment:center_left;
}
.main .footer .statuses {
	-fx-font-size:14px;
	-fx-alignment:center_right;
}
.main .footer .statuses Label {
	-fx-padding:0 2px;
}
/*
 * 表格样式
 * TableView->.table-view
 */
.main .table-view {
	-fx-padding:0;
	-fx-border-width:1px 0;
	-fx-border-color:-fx-snail-border-color;
	-fx-background-insets:0;
}
.main .table-view .snail-icon {
	-fx-padding:0 2px;
	-fx-font-size:20px;
}
.main .placeholder .snail-icon {
	-fx-font-size:64px;
}
/*
 * 表头样式
 */
.main .table-view .column-header,
/*
 * 空闲表头样式
 */
.main .table-view .filler {
	-fx-pref-height:40px;
	-fx-border-width:0 1px 1px 0;
	-fx-border-color:-fx-snail-border-color;
	-fx-background-color:-fx-snail-element-color;
}
/*
 * 表格单元样式
 */
.main .table-view .table-cell {
	/* 不设置padding不能垂直居中 */
	-fx-padding:0 2px;
	-fx-pref-height:48px;
}
/*
 * 表格行样式
 */
.main .table-view .table-row-cell {
	/* 去掉表行横线 */
	/*
	-fx-background-insets:0;
	*/
}
/*
 * 没有数据单元样式
 */
.main .table-view .table-row-cell:empty .table-cell {
	/* 去掉没有数据表格单元竖线 */
	/*
	-fx-border-width:0px;
	*/
}
/*
 * 获得焦点表格行样式
 */
.main .table-view:focused .table-row-cell:focused {
	-fx-background-color:-fx-table-cell-border-color, -fx-control-inner-background;
	-fx-background-insets:0, 0 0 1 0;
}
.main .table-view:focused .table-row-cell:selected {
	-fx-background-color:-fx-snail-main-color;
}
.main .table-view:focused .table-row-cell:selected Text {
	-fx-fill:#FFFFFF;
}
/*
 * 失去焦点表格行样式
 */
.main .table-view .table-row-cell:selected {
	-fx-background-color:-fx-snail-element-color;
}
/*
 * 垂直滚动条
 */
/*
.main .table-view .virtual-flow .scroll-bar:vertical {
	-fx-pref-width:0;
}
*/
/*
 * 水平滚动条
 */
.main .table-view .virtual-flow .scroll-bar:horizontal {
	-fx-pref-height:0;
}
.main .table-view .virtual-flow .scroll-bar:horizontal .increment-button .increment-arrow {
	/* 影藏箭头 */
	-fx-background-color:transparent;
}
.main .table-view .virtual-flow .scroll-bar:horizontal .decrement-button .decrement-arrow {
	/* 影藏箭头 */
	-fx-background-color:transparent;
}
/**
 * 设置窗口：setting.fxml
 * ScrollPane->.scroll-pane
 */
.setting .scroll-pane {
	-fx-padding:20px 0 0 0;
	-fx-background-color:transparent;
}
.setting HBox {
	-fx-padding:6px 0;
}
.setting HBox TextFlow {
	-fx-pref-width:190px;
	-fx-text-alignment:right;
}
.setting .path .name {
	-fx-padding:6px 0;
}
.setting .path .path-value {
	-fx-padding:6px;
	-fx-pref-width:200px;
}
.setting .path Button {
	-fx-padding:6px 10px;
}
.setting .slider {
	-fx-pref-width:300px;
}
/**
 * 统计窗口：statistics.fxml
 */
.statistics .info-box TextFlow {
	-fx-padding:3px 0;
	-fx-pref-width:130px;
	-fx-border-width:0 0 0 10px;
	-fx-border-color:-fx-snail-main-color;
	-fx-background-color:-fx-snail-main-color;
}
.statistics .info-box TextFlow Label {
	-fx-padding:0 5px;
	-fx-text-fill:#FFFFFF;
}
.statistics .info-box TextFlow Text {
	-fx-fill:#FFFFFF;
	-fx-font-weight:bold;
}
.statistics .info-box .info-hash {
	-fx-padding:4px 0;
}
.statistics .info-box .info-hash ChoiceBox {
	-fx-pref-width:400px;
}
.statistics .info-box .tabs {
	-fx-padding:0 0 10px 0;
}
.statistics .statistics-box {
	-fx-pref-width:800px;
	-fx-pref-height:400px;
	-fx-alignment:top_center;
}
/**
 * 背景颜色 = 边框颜色 * 透明度
 */
.statistics .info-box TextFlow.red {
	-fx-border-color:-fx-snail-red-color;
	-fx-background-color:derive(-fx-snail-red-color, 40%);
}
.statistics .info-box TextFlow.blue {
	-fx-border-color:-fx-snail-blue-color;
	-fx-background-color:derive(-fx-snail-blue-color, 40%);
}
.statistics .info-box TextFlow.gray {
	-fx-border-color:-fx-snail-gray-color;
	-fx-background-color:derive(-fx-snail-gray-color, 40%);
}
.statistics .info-box TextFlow.green {
	-fx-border-color:-fx-snail-green-color;
	-fx-background-color:derive(-fx-snail-green-color, 40%);
}
.statistics .info-box TextFlow.orange {
	-fx-border-color:-fx-snail-orange-color;
	-fx-background-color:derive(-fx-snail-orange-color, 40%);
}
.statistics .info-box TextFlow.violet {
	-fx-border-color:-fx-snail-violet-color;
	-fx-background-color:derive(-fx-snail-violet-color, 40%);
}
.statistics .system TextFlow {
	-fx-padding:10px;
	-fx-pref-width:260px;
}
.statistics .system TextFlow Text {
	-fx-font-size:24px;
}
.statistics .system TextFlow Label {
	-fx-padding:0 10px 0 0;
}
.statistics .statistics-box .health {
	-fx-padding:4px 0;
	-fx-alignment:center;
}
.statistics .statistics-box .default-color0.chart-bar {
	-fx-bar-fill:-fx-snail-red-color;
}
.statistics .statistics-box .default-color1.chart-bar {
	-fx-bar-fill:-fx-snail-blue-color;
}
.statistics .statistics-box .default-color2.chart-bar {
	-fx-bar-fill:-fx-snail-gray-color;
}
.statistics .statistics-box .default-color3.chart-bar {
	-fx-bar-fill:-fx-snail-green-color;
}
.statistics .statistics-box .default-color4.chart-bar {
	-fx-bar-fill:-fx-snail-orange-color;
}
.statistics .statistics-box .default-color5.chart-bar {
	-fx-bar-fill:-fx-snail-violet-color;
}
.statistics .statistics-box .default-color0.chart-pie {
	-fx-pie-color:-fx-snail-red-color;
}
.statistics .statistics-box .default-color1.chart-pie {
	-fx-pie-color:-fx-snail-blue-color;
}
.statistics .statistics-box .default-color2.chart-pie {
	-fx-pie-color:-fx-snail-gray-color;
}
.statistics .statistics-box .default-color3.chart-pie {
	-fx-pie-color:-fx-snail-green-color;
}
.statistics .statistics-box .default-color4.chart-pie {
	-fx-pie-color:-fx-snail-orange-color;
}
.statistics .statistics-box .default-color5.chart-pie {
	-fx-pie-color:-fx-snail-violet-color;
}
/**
 * 编辑种子：torrent.fxml
 */
.torrent .tree-view {
	-fx-border-width:0 0 1px 0;
	-fx-border-color:-fx-snail-border-color;
	-fx-background-insets:0;
}
.torrent .tree-view .tree-cell {
    -fx-background-color:-fx-snail-background-color;
    -fx-background-insets:0;
}
/*
 * 箭头
 */
.torrent .tree-view .tree-cell .arrow {
    -fx-background-color:#000000;
}
.torrent .tree-view .tree-cell:focused,
.torrent .tree-view .tree-cell:selected {
	-fx-background-color:-fx-snail-background-color;
    -fx-background-insets:0;
}
.torrent .tree-view .tree-cell:selected .check-box {
	-fx-text-fill:#000000;
}
.torrent .download-box {
	-fx-padding:2px 0;
	-fx-alignment:center;
}