/**
 * 参考链接：https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
/*
/** 通用样式 */
.root {
	-fx-font-size:16;
	-fx-alignment:center;
	/**
	 * 默认边框背景样式
	-fx-background-insets:0;
	-fx-background-color:#F4F4F4;
	*/
	/**
	 * 选中填充颜色
	-fx-accent:transparent;
	*/
	/**
	 * 选中边框颜色
	-fx-focus-color:transparent;
	*/
}
.root .tooltip {
	-fx-background-radius:0;
}
.root .button {
	/**
	-fx-background-radius:0;
	*/
}
.root .context-menu {
	-fx-padding:1;
}
/** about.fxml */
.about {
}
/** build.fxml */
.build .urlValue {
	-fx-padding:10 0;
}
.build .urlValue TextFlow {
	-fx-padding:0 10 0 0;
}
.build .urlValue TextField {
	-fx-pref-width:400;
}
.build .option {
	-fx-alignment:center_right;
}
.build .option .cancel {
	-fx-padding:0 10;
}
/** main.fxml */
.main .header {
	-fx-padding:1 2;
	-fx-pref-height:40;
	-fx-alignment:center_left;
}
.main .footer {
	-fx-padding:1 2;
	-fx-pref-height:40;
}
.main .footer .footerButton {
	-fx-alignment:center_left;
}
.main .footer .footerStatus {
	-fx-font-size:14;
	-fx-alignment:center_right;
}
.main .footer .footerStatus Label {
	-fx-padding:0 2;
}
.main .taskTable {
	/** 修改边框样式 */
	-fx-padding:0;
	-fx-border-width:1px 0 1px 0;
	-fx-border-color:#c8c8c8;
	-fx-background-insets:0;
}
.main .taskTable HBox {
	-fx-padding:4;
	-fx-pref-height:40;
}
.main .taskTable TableRow:selected Text {
	-fx-fill:white;
}
/** setting.fxml */
.setting .scrollPane {
	-fx-background-color:transparent;
}
.setting HBox {
	-fx-padding:6 0;
}
.setting .name {
	-fx-pref-width:200;
	-fx-text-alignment:right;
}
.setting .slider {
	-fx-pref-width:300;
}
.setting .path Button {
	-fx-padding:6 10;
}
.setting .path TextFlow {
	-fx-padding:6 0;
}
.setting .path .pathValue {
	-fx-padding:6;
}
/** statistics.fxml */
.statistics .info TextFlow {
	-fx-pref-width:140;
}
.statistics .system TextFlow {
	-fx-pref-width:220;
}
.statistics .info TextFlow.title {
	-fx-pref-width:80;
}
.statistics .available {
	-fx-fill:green;
}
.statistics .infoHash TextFlow.title {
	-fx-padding:6 0;
}
.statistics .infoHash ChoiceBox {
	-fx-pref-width:400;
}
.statistics .chart {
	-fx-pref-width:800;
	-fx-pref-height:400;
}
/** torrent.fxml */
.torrent .tree {
	-fx-background-color:transparent;
}
.torrent .downloadBox {
	-fx-alignment:center;
}