.main{
}
.main Button {
	-fx-padding:4 12;
	-fx-font-size:16;
	-fx-background-radius:0;
}
.main Label {
	-fx-padding:6 12;
	-fx-font-size:12;
}
.main TableView {
	-fx-font-size:16;
	-fx-overflow:hidden;
}
.main .name {
	-fx-min-width:198;
	-fx-max-width:198;
	-fx-pref-width:198;
}
.main .status {
	-fx-min-width:100;
	-fx-max-width:100;
	-fx-pref-width:100;
}
.main .progress {
	-fx-min-width:200;
	-fx-max-width:200;
	-fx-pref-width:200;
}
.main .begin {
	-fx-min-width:250;
	-fx-max-width:250;
	-fx-pref-width:250;
}
.main .end {
	-fx-min-width:250;
	-fx-max-width:250;
	-fx-pref-width:250;
}