.setting {
	-fx-font-size:16;
	-fx-alignment:center;
}
.setting .name {
	-fx-pref-width:200;
	-fx-text-alignment:right;
}
.setting HBox{
	-fx-padding:10 0;
}
.setting .scrollPane{
	-fx-pref-width:600;
	-fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}